body {
  font-family: Arial, sans-serif;
  background-color: #eaf6f8;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: azure;
  
}


.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav ul li {
  margin: 0;
   padding: 10px 10px;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
}

.cta .button {
  background-color: #ff4b5c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}
/**/

.text-center{
   font-weight: 800;
}
.card-body{
  background: #F8F8FF;
   align-items: center;
  
}
a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-size: 1em;

}
div.card-body{
	color:black;
}
a.card-title{
  font-size: 1em;
}



/* Media query per dispositivi più piccoli */
@media (max-width: 600px) {
  .card {
    flex: 0 0 250px; /* Riduce la larghezza della card */
    max-width: 250px;
  }

  .card-content h3 {
    font-size: 1.2em; /* Riduce la dimensione del testo */
  }

  .card-content p {
    font-size: 0.9em; /* Riduce la dimensione del testo */
  }
}
