<!DOCTYPE html>
<html>
  <head>
    <title>Cuoco</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	
    <h1 th:text="${cuoco.nome}+ ' '+ ${cuoco.cognome}"> </h1>
        <span th:text="${ricetta.descrizione}">2000</span>
    </div>
    <div th:unless="${ricetta}">Non ci sono ricette</div>
     <h2>Ingredienti</h2> 
     <div th:if="${ingredienti}">
        <span th:text="${ingredienti.nome} + ' '+ ${ingredienti.quantita}">2000</span>
    </div>
    <div th:unless="${ingredienti}">Non ci sono ingredienti</div>
  </body>
</html>
