<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ricette</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ricette.css">

</head>
<body>
	 <header class="header">
    <nav class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ricette">Ricette</a></li>
          <li><a href="/cuochi">Cuochi</a></li>
      
      </ul>
    </nav>
    <div class="cta">
      <a href="login" class="button">Login</a>
    </div>
  </header>

	
	
    <div class="container my-3">
        <h1 class="text-center"> Cuochi</h1>
	    <div th:if="${cuochi == null }">Non ci sono Cuochi nel sistema</div>
        <div class="row" th:if="${cuochi != null} ">
			<div class="col-md-4 mb-4" th:each="cuoco : ${cuochi}" >
				<div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/R.e654816d8aea33d99fa694127f008d1c?rik=Y56MrJlYU3UxYg&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <a  th:href="@{'/cuoco' + '/' + ${cuoco.id}}"
				            class="card-title" th:text="${cuoco.name}+' '+${cuoco.surname} "></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

	<!-- <ul>
		<li th:each="cuoco : ${cuochi}">
			<a th:href="@{'/cuoco' + '/' + ${cuoco.id}}"
				th:text="${cuoco.name}+' '+${cuoco.surname} "></a>
		</li>
	</ul>
	</div>
</body>

</html>
    
  </div>
</body>
</html>
-->




