<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cuoco</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
	
    <h1 th:text="${cuoco.name}+' '+${cuoco.surname}"> </h1>
    <div th:if="${cuoco}">
        <span th:text="${cuoco.email}"></span>
    </div>
    <div th:unless="${cuoco}">Non ci sono dati di questo cuoco</div>
     <h2>Le sue ricette:</h2> 
     <div th:if="${ricette == null or #lists.isEmpty(ricette) }">Non ci sono ricette associate a questo cuoco</div>
    <div th:if="${ricette != null }">
     
       <ul>
            <li th:each="ricetta : ${ricette}">
				<a th:href="@{'/ricetta' + '/' + ${ricetta.id}}"
				th:text="${ricetta.nome} "></a>
                
            </li>
        </ul>
      </div>
  </body>
</html>
