<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ricette</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ricette.css">

</head>
<body>
	 <header class="header">
    <nav class="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Ricette</a></li>
          <li><a href="#">Cuochi</a></li>
      
      </ul>
    </nav>
    <div class="cta">
      <a href="login" class="button">Login</a>
    </div>
  </header>
	
	
	<div class="container">
        
        <h1 class="text-center my-4">Registrazione nuovo utente</h1>
        <form th:action="@{/register}" method="POST" >
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="nome" required th:field="${user.name}"  />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}"></div>

                <label for="surname" class="form-label my-3">Cognome</label>
                <input type="text" class="form-control" id="surname" placeholder="cognome" required th:field="${user.surname}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}"></div>
           
           
                <label for="email" class="form-label my-3">Email</label>
                <input type="email" class="form-control " id="email" placeholder="nome@mail.com" required th:field="${user.email}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}"></div>
            
                <label for="username" class="form-label my-3">Username</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" class="form-control" id="username" placeholder="username" required th:field="${credentials.username}"  />
                    <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"
				    th:style="'color:red'">
			        </span>                
			     </div>
          
          
                <label for="password" class="form-label my-3">Password</label>
                <input type="password" class="form-control" id="password" placeholder="password" required th:field="${credentials.password}" />
                <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"
				th:style="'color:red'"> 
			   </span>
         
            <div class="col-12 text-center  my-5">
                <button class="btn btn-primary" type="submit">Registra</button>
            </div>
        </form>
    </div>
</body>

</html>