<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/manage.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>Scopri</title>
</head>
<body>
	 <header class="header">
    <nav class="nav">
      <ul>
		<li><img src="/images/logoIndex.jpg" alt="Logo"></li>

        <li><a href="/">Home</a></li>
        <li><a href="/ricette">Ricette</a></li>
        <li><a href="/cuochi">Cuochi</a></li>
      </ul>
    </nav>
    <div class="cta">
           <div th:if="${userDetails}">
			 <span th:text="${userDetails.username}"></span>
			 <a href="/logout" class="button">Logout</a>
		   </div>
		   <div th:unless="${userDetails}">
             <a href="/login" class="button">Login</a>
		   </div>
    </div>
  </header>

  <div class="top text-center">
   <div class="text-center">
      <h2>Che tu sia un cuoco esperto o un principiante in cucina, troverai qualcosa che soddisfi il tuo palato!</h2>
                
     </div>
    
   </div>
   

  <div class="container">
    <div class="card">
      <img src="/images/ricetteManage.jpg" alt="Lavoro 1">
      <div class="card-content">
        <h3>Ricette</h3>
          <a th:href="@{'/ricette'}"
           th:text="Ricette">Up! (2000)</a>
      </li>
      </div>
    </div>
    <div class="card">
      <img src="/images/chef2.jpg" alt="Lavoro 1">
      <div class="card-content">
        <h3>Cuochi</h3>
       <a th:href="@{'/cuochi'}"
           th:text="Cuochi">Up! (2000)</a>
      </div>
    </div>
    
    </div>
  </div>
</body>
</html>


