<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/manage.css">
    <title>Homepage</title>
</head>
<body>
	 <header class="header">
    <nav class="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Ricette</a></li>
          <li><a href="#">Cuochi</a></li>
      
      </ul>
    </nav>
    <div class="cta">
      <a href="#" class="button">Login</a>
    </div>
  </header>

    <div class="top">
   <div class="text">
      <h2>Benvenuto Nome</h2>
         <p>descrizione.</p>
           <p>desc2.</p>       
     </div>
    
   </div>
   

  <div class="container">
    <div class="card">
      <img src="/images/ricetteManage.jpg" alt="Lavoro 1">
      <div class="card-content">
        <h3>Ricette</h3>
          <a th:href="@{'/ricette'}"
           th:text="Ricette">Up! (2000)</a>
      </li>
      </div>
    </div>
    <div class="card">
      <img src="/images/chef2.jpg" alt="Lavoro 1">
      <div class="card-content">
        <h3>Cuochi</h3>
       <a th:href="@{'/cuochi'}"
           th:text="Cuochi">Up! (2000)</a>
      </div>
    </div>
    
    </div>
  </div>
</body>
</html>


