<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricette per Categoria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ricette.css">
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul>
				<li><img src="/images/logoIndex.jpg" alt="Logo"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/ricette">Ricette</a></li>
                <li><a href="/cuochi">Cuochi</a></li>
            </ul>
        </nav>
        <div class="cta">
            <a href="/login" class="button">Login</a>
        </div>
    </header>

    <div class="container my-3">
        <h1 class="text-center" th:text="'Ricette: ' + ${categoria}"></h1>

        <div th:if="${ricette == null || ricette.isEmpty()}">Non ci sono Ricette nel sistema</div>

        <div class="row" th:unless="${ricette == null || ricette.isEmpty()}">
            <div class="col-md-4 mb-4" th:each="ricetta : ${ricette}">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/R.e654816d8aea33d99fa694127f008d1c?rik=Y56MrJlYU3UxYg&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${ricetta.nome}">Nome</h5>
                        <a th:href="@{'/ricetta/' + ${ricetta.id}}" class="btn btn-primary" style="background-color: pink;">Guarda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html> 



