body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  background-color:  #eaf6f8;;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: azure;
  
}


.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
    align-items: center;

}

.nav ul li {
  margin: 0;
   padding: 10px 10px;
}
.nav ul li  img {
     
      height: 50px;
      width: auto;
    }

.nav ul li a {
  text-decoration: none;
  color: #333;
}

.cta .button {
  background-color: #ff4b5c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}



.hero {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;


  background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0, 0.9)),
   url('/images/tavolo1.jpg') no-repeat center center;
   background-size: cover;
}

.hero__content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
}

.hero__content h1 {
  font-size: 3em;
  margin: 0;
  color: white;
}

.hero__content h2 {
  font-size: 1.5em;
  margin-top: 10px;
  color: white;
}

.hero__content p {
  font-size: 1.1em;
  color: white;
  margin-top: 20px;
  line-height: 1.6;
}







.hero__image {

  position: relative;
  max-width: 50%;
}

.hero__image img {

  width: 100%;
  height: auto;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.img-res{width: 100%;height: auto; margin-bottom: 20px; vertical-align: middle;}
.img-round{border-radius: 100%;}


.description {
  text-align: center;
  padding: 40px 20px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.description p {
  font-size: 1.1em;
  color: gray;
}

.description .button {
  background-color: #ff4b5c;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 20px;
  display: inline-block;
}
.description .button-profilo {
  background-color: lightgreen;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 20px;
  display: inline-block;
}



.thin-text{
	 font-weight: 200;
 }
 
.text-center {
    text-align: center;
}


