<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HomePage</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header class="header">
    <nav class="nav">
      <ul>
	   <li><img src="/images/logoIndex.jpg" alt="Logo"></li>

        <li><a href="/success">Home</a></li>
        <li><a href="/ricette">Ricette</a></li>
        <li><a href="/cuochi">Cuochi</a></li>
      </ul>
    </nav>
    
    <div class="cta">
	  <div th:if="${userDetails}">
	     <span th:text="${userDetails.username}"></span>
         <a href="logout" class="button">Logout</a>
	  </div>
     </div>
  </header>
  
  
  
  
  <div class="hero">
    <div class="hero__content">
      <h1 th:text="'Benvenuta' + ' '+ ${userDetails.username}"> </h1>
    </div>
		
		
    <div class="hero__image">
      <img src="/images/logoIndex.jpg" class="img-res img-round" style="height: 300px; width: 500px; margin-right: 10px;" alt="im">
    </div>
  </div>
  
   <div class="description">
    <h2>Gestisci le ricette, gli ingredienti e gli Chef!</h2>
    
    <a href="/manage" class="button">GESTISCI</a>

  </div>
</body>
</html>
