<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Login
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</di-v>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<h1>Aggiungi una ricetta</h1>
	<form th:action="@{'/loggedIn/ricetta/'+${categoria}}" method="POST" th:object="${ricetta}">
		   

		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		    <div>
			    <label>Nome:</label>
			    <span><input type="text" th:field="${ricetta.nome}"  required /></span>
			    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">  </span>
		    </div>

            <div>
			    <label>Descrizione:</label>
			    <span><textarea type="text" th:field="${ricetta.descrizione}"  required /></span> </span>
			    <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">  </span>
		    </div>
		 
		      <div>
		       <label>Categoria:</label>
		       <select class="form-select" aria-label="Categoria" th:field="${ricetta.categoria}" name="categoria">
                  <option value="" selected>Scegli la categoria:</option>
                  <option value="Antipasti">Antipasto</option>
                  <option value="Primi Piatti">Primo piatto</option>
                  <option value="Secondi Piatti">Secondo piatto</option>
                  <option value="Dessert">Dessert</option>
               </select> 
		    </div>
	
			
			<h2>Aggiungi Ingrediente alla Ricetta</h2>
    <!--         <form th:action="@{/cuoco/ricettaCuoco}" method="post">
              <div>
                <label>Ingrediente:</label>
                  <select name="ingredienteId">
                  <option th:each="ingrediente : ${ingredienti}" th:value="${ingrediente.nome}" th:text="${ingrediente.nome}">Nome Ingrediente</option>
                  </select>
        </div>
        <div>
            <label>Quantità:</label>
            <input type="text" name="quantita" required />
        </div>
        <div>
            <button type="submit">Aggiungi Ingrediente</button>
        </div>
    </form>
			
			
			
			
			
			<div>
				<span><button type="submit">Aggiungi</button></span>
				
			</div>
	</form>
-->


   <div th:each="ingrediente : ${ingredienti}">
            <label>
                <input type="checkbox" name="ingredientiIds" th:value="${ingrediente.id}" />
                <span th:text="${ingrediente.nome}">Nome Ingrediente</span>
            </label>
            <input type="text" name="quantita_[[${ingrediente.id}]]" placeholder="Quantità" />
        </div>

        <div>
            <button type="submit">Aggiungi Ricetta</button>
        </div>
    </form>
</body>

</html>