<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SiwFood</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header class="header">
    <nav class="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Ricette</a></li>
        <li><a href="#">Cuochi</a></li>
      </ul>
    </nav>
    <div class="cta">
	  <div th:if="${userDetails}">
	     <span th:text="${userDetails.username}"></span>
         <a href="logout" class="button">Logout</a>
	  </div>
	  <div th:unless="${user}">
         <a href="login" class="button">Login</a>
     </div>
  </header>
  
  
  <div class="hero">
    <div class="hero__content">
      <h1>Portiamo online la tua azienda</h1>
      <h2>e ti presentiamo al meglio</h2>
      <p>La prima impressione conta, grazie a un Design e Comunicazione studiata nel dettaglio siamo in grado di ottimizzare la prima impressione della tua azienda.</p>
     
    </div>
		
		
    <div class="hero__image">
      <img src="/images/logo2.jpg" class="img-res img-round" alt="im">
    </div>
  </div>
  
   <div class="description">
    <h2>Chef scopri di piu'!</h2>
    <p>Salve chef qui puoi controllare e modificare le tue ricette</p>
    
    <a href="/cuoco/manageCuochi" class="button">SCOPRI COME</a>

  </div>
</body>
</html>
