<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ricetta</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/ricette.css">
     <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul>
				<li><img src="/images/logoIndex.jpg" alt="Logo"></li>
                <li><a href="/success">Home</a></li>
                <li><a href="/ricette/categoria">Ricette</a></li>
                <li><a href="/cuochi">Cuochi</a></li>
            </ul>
        </nav>
        <div class="cta">
           <div th:if="${userDetails}">
			 <span th:text="${userDetails.username}"></span>
			 <a href="/logout" class="button">Logout</a>
		   </div>
		   <div th:unless="${userDetails}">
             <a href="login" class="button">Login</a>
		   </div>
        </div>
    </header>

    <h1 class="text-center my-4" th:text="${ricetta.nome}">Ricetta </h1>
	<div class="container">

       <div th:if="${ricetta}">
         <div class="row g-0 bg-body-secondary position-relative">
         <div class="col-md-6 mb-md-0 p-md-4">
         <img th:src="@{'/display/image/' + ${ricetta.image.id}}" class="w-100" alt="...">
         </div>
           
         <div class="col-md-6 p-4 ps-md-0 ">
           <h5> Descrizione:   </h5>
           <span th:text="${ricetta.descrizione}">2000</span>
           
          <!--CHEF CREATORE-->
           <div th:if="${ricetta.user != null}" class=" my-3">
                <h5> Chef creatore di questa ricetta: </h5>
            </div>
            <div class="text-center">
                <a th:href="@{'/cuoco' + '/' + ${ricetta.user.id}}"
                   th:text="${ricetta.user.name}+' '+${ricetta.user.surname} ">Chef</a>
            </div>
        </div>
        <div th:if="${ricetta.user == null}">
            Creatore sconosciuto
        </div>
        </div>
        <div th:unless="${ricetta}">Non ci sono ricette</div>
      </div>
    </div>
    
    
    
     <h3 class="text-center my-4">Ingredienti</h3>
        <div th:if="${ricetta.righeRicetta}">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <strong>Ingrediente</strong>
                    </div>
                    <div class="col">
                        <strong>Quantità</strong>
                    </div>
                </div>
                <ul class="list-group ingredienti-list">
                    <li class="list-group-item" th:each="rigaRicetta : ${ricetta.righeRicetta}">
                        <div class="row">
                            <div class="col thin-text" th:text="${rigaRicetta.ingrediente.nome}">Nome Ingrediente</div>
                            <div class="col thin-text" th:text="${rigaRicetta.quantita}">Quantità Ingrediente</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
       </div>

        <div th:unless="${ricetta.righeRicetta}">Non ci sono ingredienti</div>
        
         
        <div class="description">
        <a th:if="${currentUsername == ricetta.user?.credentials?.username}"
           th:href="@{'/loggedIn/ricetta/modifica/' + ${ricetta.id}}" 
           class="button">Modifica</a>
    </div>
    
    
    
    
    
    
    
    
    
    
        
 <!--       <h2>Ingredienti</h2>
    <div th:if="${ricetta.ingredienti}">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <strong>Ingrediente</strong>
                </div>
                <div class="col">
                    <strong>Quantità</strong>
                </div>
            </div>
            <ul class="list-group ingredienti-list">
                <li class="list-group-item" th:each="ricettaIngrediente : ${ricetta.ingredienti}">
                    <div class="row">
                        <div class="col" th:text="${ricettaIngrediente.nome}">Nome Ingrediente</div>
                        <div class="col" th:text="${ricettaIngrediente.quantita}">Quantità Ingrediente</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div th:unless="${ricetta.ingredienti}">Non ci sono ingredienti</div>
    
    <div class="description">
        <a th:if="${currentUsername == ricetta.user?.credentials?.username}"
           th:href="@{'/loggedIn/ricetta/modifica/' + ${ricetta.id}}" 
           class="button">Modifica</a>
    </div>
   </div>-->

  </body>

  
</html>
  
  
  
  
<!--  
 <body>
    <h1 th:text="${ricetta.nome}"> </h1>
    <div th:if="${ricetta}">
        <span th:text="${ricetta.descrizione}">Descrizione della ricetta</span>
    </div>
    <div th:unless="${ricetta}">Non ci sono ricette</div>
    
  <!--  <h2>Ingredienti</h2>
    <div th:if="${ingredientiQuantita != null && !ingredientiQuantita.isEmpty()}">
        <ul>
            <li th:each="ricettaIngrediente : ${ingredientiQuantita}">
                <span th:text="${ricettaIngrediente.ingrediente.nome}">Nome Ingrediente</span>
                <span th:text="${ricettaIngrediente.quantita}">Quantità</span>
            </li>
        </ul>
    </div>
    <div th:if="${ingredientiQuantita == null || ingredientiQuantita.isEmpty()}">
        Non ci sono ingredienti associati a questa ricetta
    </div>-->
<!--
    <div th:if="${ricetta.user != null}">
        Creato da: 
        <a th:href="@{'/cuoco' + '/' + ${ricetta.user.id}}"
           th:text="${ricetta.user.name} + ' ' + ${ricetta.user.surname} "></a>
    </div>
    <div th:if="${ricetta.user == null}"> Creatore sconosciuto </div>

    <div class="description">
        <a th:if="${currentUsername == ricetta.user?.credentials?.username}"
           th:href="@{'/loggedIn/ricetta/modifica/' + ${ricetta.id}}" 
           class="button">Modifica</a>
    </div>
 </body>
 </html> 
-->
