<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ricetta</title>
    <link rel="stylesheet" href="/css/cuoco/ricetteCuoco.css" />
</head>
<body>
    <h1 th:text="${ricetta.nome}"> </h1>
    <div th:if="${ricetta}">
        <span th:text="${ricetta.descrizione}">Descrizione della ricetta</span>
    </div>
    <div th:unless="${ricetta}">Non ci sono ricette</div>
    
    <h2>Ingredienti</h2>
    <div th:if="${ingredientiQuantita != null && !ingredientiQuantita.isEmpty()}">
        <ul>
            <li th:each="ricettaIngrediente : ${ingredientiQuantita}">
                <span th:text="${ricettaIngrediente.ingrediente.nome}">Nome Ingrediente</span>
                <span th:text="${ricettaIngrediente.quantita}">Quantità</span>
            </li>
        </ul>
    </div>
    <div th:if="${ingredientiQuantita == null || ingredientiQuantita.isEmpty()}">
        Non ci sono ingredienti associati a questa ricetta
    </div>

    <div th:if="${ricetta.user != null}">
        Creato da: 
        <a th:href="@{'/cuoco' + '/' + ${ricetta.user.id}}"
           th:text="${ricetta.user.name} + ' ' + ${ricetta.user.surname} "></a>
    </div>
    <div th:if="${ricetta.user == null}"> Creatore sconosciuto </div>

    <div class="description">
        <a th:if="${currentUsername == ricetta.user?.credentials?.username}"
           th:href="@{'/loggedIn/ricetta/modifica/' + ${ricetta.id}}" 
           class="button">Modifica</a>
    </div>
</body>
</html>
